.button-active {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    border-radius: var(--border-radius);
}

.button-no-active {
    background-color: var(--highlight-bg);
    color: var(--highlight-text-color);
    border-radius: var(--border-radius);
    border: 0;
}

.p-menuitem-link {
    text-decoration: none;
}

#popup_menu_right_list {
    padding-left: 0;
    margin-bottom: 0;
}